@import url("https://fonts.googleapis.com/css2?family=McLaren&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./components/assets/back2.png");
  background-color: #ffde5d;

  font-family: "McLaren", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: palevioletred;
}

.reg-container,
.lgn-container {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.register-container,
.login-container {
  border-radius: 40px;
  background-color: var(--cyan);
  width: 50%;
  padding: 50px;
  box-sizing: border-box;
  border: 1px solid #000;
  padding: 1rem;
}
.register-title,
.login-title {
  text-align: center;
}

.register-form {
  width: 100%;
}
.register-form input,
.login-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-size: 16px;
}
.register-link {
  margin-top: 3%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  flex-direction: column;
}

.gender {
  display: flex;
  justify-content: center;
}
.gender > div {
  display: flex;
  padding: 5px;
}
.gender label {
  margin-right: 10px;
}

.name-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.small {
  width: 45%;
}

.register-button,
.login-button {
  display: block;
  width: 50%;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}
.login-button:hover,
.register-button:hover {
  background-color: transparent;
  border: 1px solid #000;
  color: black;
}

.login-form {
  margin-top: 10%;
}

.forgot-password {
  color: #333;
  text-decoration: none;
  margin-top: 5%;
  text-align: center;
}

@media (max-width: 1000px) {
  .name-container {
    flex-direction: column;
  }
  .small {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .register-container,
  .login-container {
    width: 90%;
  }
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.class-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: purple;
  color: #fff !important;
  font-weight: 300;
  width: 40%;
  border: 1px solid #000;
  border-radius: 10px;
  margin-top: 1rem;
}

.class-card:hover {
  background: #fff;
  color: #000 !important;
  transition: 0.5s;
}

.class-card h3 {
  font-size: 30px;
}
.class-card h4 {
  font-size: 20px;
}

.class-list {
  margin-top: 10rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-button {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 10px;
  padding-bottom: 10px;
}

.add-button button {
  padding: 5px 15px;
  background: transparent;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}

.add-button button:hover {
  border: 1px solid #000;
}

@media (max-width: 1000px) {
  .class-card {
    width: 70%;
  }
}
@media (max-width: 700px) {
  .class-card {
    width: 90%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10rem;
}

.content-card {
  width: 70%;
  margin: 2rem;
  padding: 20px 50px;
  text-align: center;
  background: #fff;
  border: 1px solid #000;
  border-radius: 10px;
}

.content-card p {
  font-size: 20px;
  font-weight: 100;
}


